

.eventmap {
    display: flex;
    justify-content: space-between;
    width:100%;
    flex-wrap: wrap;
  }

  .card {
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }