.form {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 25%;
    
  }
  
  .button{
    background-color: darkblue;
    color: white;
    align-self: bottom;
  }

  .card {
    border-radius: 5%;
    margin: 2%;
    display: flex;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: solid;
    box-shadow: 10px 10px 5px gray;
  }
