



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}

.userprofile-container{
    width: 100%;
    height: 100vh;
    background-image: url(../assets/images/userprofilepage/cleanbeach.png);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.userprofile-card{
    width: 100%;
    max-width: 500px;
    color:rgb(20, 20, 20);
    text-align: center;
    padding: 5px 50px;
    border: 1px solid rgba(250,250,250,0.3);
    background: rgba(255,255,255,0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, .1);
    backdrop-filter: 5px;
}


.userprofile-card h2 {
    font-size: 50px;
    font-weight: 500;
    margin-top: 50px;
}

.userprofile-card p {
    font-size: 15px;
    margin: 10px auto;
    max-width: 350px;
}

